<! Passed three parameters to dynamically create the "create" page for any object>
<! Objects must have the DatabaseConnector module included and must have Foreign Keys stored as ForeignKey object, rather than an Integer, etc.>

<! @foreign_key_fields   - An Array of the field names of parameters that are ForeignKeys>
<! @foreign_key_choices -- An Array of Arrays.  The inner Array contains all possible objects for this foreign key.  >
<! @non_foreign_key_fields - An Array of the field names of non-foreign keys. >
<! >


<form action="/<%=params["something"]%>">
  <% @foreign_key_fields.each_with_index do |foreign_key, x| %>
    <select name = <%= foreign_key %>>
      <% @foreign_key_choices[x].each do |choice| %>
        <option value = <%= choice.id %> > <%= choice.to_s %></option>
      <% end %>
    </select>
  <% end %>

</form>